.panorama {
    &-image {
        pabs();
        width: 100vw;
        height: 69vh;
        transition-animate(all, 0.5s, ease('in-out-quart'), 0s);
        opacity: 0;

        &.current {
            opacity: 1;
            z-index: 5;
        }

        &.former {
            opacity: 1;
            z-index: 4;
        }

        &.expanded {
            height: 100vh;
        }

        .logo-product {
            pabs();
            top: 0;
            left: 6vw;
            transform-origin: 0 0;
            z-index: 6;

            span {
                pabs();
                bottom: -10px;
                left: 80px;
                font-size: 70px;
                word-wrap: none;
                white-space: nowrap;
                font-family: 'MontserratLight';
            }
        }

        &.faro {
            .logo-product {
                background: url(../img/logo_faro.png) center center no-repeat scroll;
                width: 636px;
                height: 400px;

                span {
                    color: #9e6522;
                }
            }
        }

        &.luce, &.sole {
            .logo-product {
                background: url(../img/logo_bosco.png) center center no-repeat scroll;
                width: 754px;
                height: 400px;

                span {
                    color: #57301a;
                }
            }
        }

        .views {
            height: 100%;
        
            img {
                pabs();
                height: 100%;
                object-fit: cover;
                margin-left: 50%;
                transform: translateX(-50%);
                width: 100%;
                transition-animate(all, 0.5s, ease('in-out-quart'), 0s);
                opacity: 1;

                &.current {
                    z-index: 5;
                }

                &.former {
                    z-index: 4;
                }

                &.invisible {
                    opacity: 0;
                }
            }
        }
        
    }

    &-panel {
        pabs();
        width: 100vw;
        height: 31vh;
        background: tegra-gray;
        bottom: 0;
        left: 0;

        .panel-arrow {
            pabs();
            width: 12vh;
            height: 12vh;
            top: -12vh;      
            z-index: 10;
            transition-animate(all, 0.5s, ease('out-quart'), 0s);

            img {
                pabs();
                left: 50%;
                height: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
                transition-animate(all, 0.5s, ease('out-quart'), 0)
                
            }
        }

        &.faro { 
            border-top: 0.5vh solid  rgb(165, 179, 165); 

            .panel-arrow {
                background-color:  rgb(165, 179, 165); 

                .arrow-bosco {
                    opacity: 0;
                }
            }
        }
        &.luce, &.sole { 
            border-top: 0.5vh solid rgb(241, 225, 192); 

            .panel-arrow {
                background-color:  rgb(241, 225, 192); 

                .arrow-faro {
                    opacity: 0;
                }
            }
        }

        transition-animate(all, 0.5s, ease('in-out-quart'), 0s);

        &.closed {
            bottom: -30.5vh;

            .panel-arrow {
                display: block;

                img {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }


        .map {
            pabs();
            left: 10vw;
            //width: 20vw;
            //height: 100%;
            width: 828px;
            height: 577px;
            
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            transform-origin: 0% 50%;

            &.faro { background: url(../img/map_faro.png) center center no-repeat scroll; }
            &.luce { background: url(../img/map_bosco_luce.png) center center no-repeat scroll; }
            &.sole { background: url(../img/map_bosco_sole.png) center center no-repeat scroll; }

            .bt-product {
                pabs();
                background: rgba(255,0,0,0.00001);

                &.bt-faro {
                    top: 50px;
                    left: 90px;
                    width: 300px;
                    height: 200px;
                }

                &.bt-luce {
                    top: 50px;
                    left: 400px;
                    width: 290px;
                    height: 189px;
                }

                &.bt-sole {
                    top: 240px;
                    left: 590px;
                    width: 189px;
                    height: 290px;
                }
            }
        }

        .map-tower {
            pabs();
            
            // width: 14vw;
            // height: 100%;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            transform-origin: 0% 50%;

            .bt-tower {
                pabs();
                background: rgba(255,0,0,0.00001);
            }

            &.faro {
                left: 42vw;
                width: 703px;
                height: 488px;

                &.tower-1e2 { background-image: url(../img/map_tower_faro_1e2.png); }
                &.tower-3e4 { background-image: url(../img/map_tower_faro_3e4.png); }

                .bt-tower {
                    &.bt-1e2 {
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 180px;
                    }

                    &.bt-3e4 {
                        top: 180px;
                        left: 0px;
                        width: 100%;
                        height: 180px;
                    }
                }
            }

            &.luce {
                left: 44vw;
                width: 565px;
                height: 489px;
                display: none;

                &.tower-1 { background-image: url(../img/map_tower_luce_1.png); }
                &.tower-2 { background-image: url(../img/map_tower_luce_2.png); }
                &.tower-3 { background-image: url(../img/map_tower_luce_3.png); }                

                .bt-tower {
                    &.bt-1 {
                        top: 0px;
                        left: 360px;
                        width: 210px;
                        height: 370px;
                    }
                    &.bt-2 {
                        top: 0px;
                        left: 0px;
                        width: 360px;
                        height: 180px;
                    }
                    &.bt-3 {
                        top: 180px;
                        left: 0px;
                        width: 360px;
                        height: 190px;
                    }

                }
            }

            &.sole {
                left: 44vw;
                width: 565px;
                height: 489px;
                display: none;

                &.tower-1 { background-image: url(../img/map_tower_sole_1.png); }
                &.tower-2 { background-image: url(../img/map_tower_sole_2.png); }
                &.tower-3 { background-image: url(../img/map_tower_sole_3.png); }

                .bt-tower {
                    //background-color: rgba(255,0,0,.5);
                    &.bt-1 {
                        top: 270px;
                        left: 120px;
                        width: 330px;
                        height: 190px;
                    }
                    &.bt-2 {
                        top: 0px;
                        left: 280px;
                        width: 200px;
                        height: 277px;
                    }
                    &.bt-3 {
                        top: 0px;
                        left: 100px;
                        width: 180px;
                        height: 277px;
                    }

                }
            }
        }

        .map-floors {
            pabs();
            right: 3vw;
            // width: 28vw;
            // height: 100%;
            width: 1128px;
            height: 608px;
            background: url(../img/map_floors.png) center center no-repeat scroll;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            transform-origin: 100% 50%;

            .bt-floor {
                pabs();
                background: rgba(255,0,0,0.0001);
                width: 280px;
                height: 50px; 
                left: 610px;

                &.bt-14 { top: 70px; }
                &.bt-12 { top: 120px; }
                &.bt-10 { top: 170px; }
                &.bt-8 { top: 220px; }
                &.bt-6 { top: 270px; }
                &.bt-4 { top: 320px; }
            }

            .floor-selector {
                pabs();
                left: 620px;
                height: 25px;
                width: 205px;
                top: 325px;
                background-color: rgba(255, 255, 255, 0.5);

                &.faro {
                    background-color: rgba(165, 179, 165, 0.6);
                }

                &.luce, &.sole {
                    background-color: rgba(241, 225, 192, 0.6);
                }

                &.floor-14 { top: 78px; }
                &.floor-12 { top: 130px; }
                &.floor-10 { top: 180px; }
                &.floor-8 { top: 230px; }
                &.floor-6 { top: 280px; }
                &.floor-4 { top: 330px; }
            }                
        }
    }
}
