body,
html {
  width: 100%;
  height: 100%;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@charset "UTF-8";
@font-face {
  font-family: 'MontserratLight';
  src: url("../fonts/montserrat-regular-webfont.woff2") format('woff2'), url("../fonts/montserrat-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  position: relative;
  float: left;
  width: 100%;
}
body {
  line-height: 1;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: 0;
  background-color: transparent;
  padding: 0;
}
* {
  -webkit-overflow-scrolling: touch;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/*::-moz-selection {
    background: text-select-background;
    color: text-select-color;
    text-shadow: none;
}

::selection {
    background: text-select-background;
    color: text-select-color;
    text-shadow: none;
}
*/
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
main {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
*:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
body,
html {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.panorama-image {
  position: absolute;
  width: 100vw;
  height: 69vh;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.panorama-image.current {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  z-index: 5;
}
.panorama-image.former {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  z-index: 4;
}
.panorama-image.expanded {
  height: 100vh;
}
.panorama-image .logo-product {
  position: absolute;
  top: 0;
  left: 6vw;
  transform-origin: 0 0;
  z-index: 6;
}
.panorama-image .logo-product span {
  position: absolute;
  bottom: -10px;
  left: 80px;
  font-size: 70px;
  word-wrap: none;
  white-space: nowrap;
  font-family: 'MontserratLight';
}
.panorama-image.faro .logo-product {
  background: url("../img/logo_faro.png") center center no-repeat scroll;
  width: 636px;
  height: 400px;
}
.panorama-image.faro .logo-product span {
  color: #9e6522;
}
.panorama-image.luce .logo-product,
.panorama-image.sole .logo-product {
  background: url("../img/logo_bosco.png") center center no-repeat scroll;
  width: 754px;
  height: 400px;
}
.panorama-image.luce .logo-product span,
.panorama-image.sole .logo-product span {
  color: #57301a;
}
.panorama-image .views {
  height: 100%;
}
.panorama-image .views img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.panorama-image .views img.current {
  z-index: 5;
}
.panorama-image .views img.former {
  z-index: 4;
}
.panorama-image .views img.invisible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.panorama-panel {
  position: absolute;
  width: 100vw;
  height: 31vh;
  background: #393a3a;
  bottom: 0;
  left: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.panorama-panel .panel-arrow {
  position: absolute;
  width: 12vh;
  height: 12vh;
  top: -12vh;
  z-index: 10;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.panorama-panel .panel-arrow img {
  position: absolute;
  left: 50%;
  height: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
.panorama-panel.faro {
  border-top: 0.5vh solid #a5b3a5;
}
.panorama-panel.faro .panel-arrow {
  background-color: #a5b3a5;
}
.panorama-panel.faro .panel-arrow .arrow-bosco {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.panorama-panel.luce,
.panorama-panel.sole {
  border-top: 0.5vh solid #f1e1c0;
}
.panorama-panel.luce .panel-arrow,
.panorama-panel.sole .panel-arrow {
  background-color: #f1e1c0;
}
.panorama-panel.luce .panel-arrow .arrow-faro,
.panorama-panel.sole .panel-arrow .arrow-faro {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.panorama-panel.closed {
  bottom: -30.5vh;
}
.panorama-panel.closed .panel-arrow {
  display: block;
}
.panorama-panel.closed .panel-arrow img {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
.panorama-panel .map {
  position: absolute;
  left: 10vw;
  width: 828px;
  height: 577px;
  background-size: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-origin: 0% 50%;
}
.panorama-panel .map.faro {
  background: url("../img/map_faro.png") center center no-repeat scroll;
}
.panorama-panel .map.luce {
  background: url("../img/map_bosco_luce.png") center center no-repeat scroll;
}
.panorama-panel .map.sole {
  background: url("../img/map_bosco_sole.png") center center no-repeat scroll;
}
.panorama-panel .map .bt-product {
  position: absolute;
  background: rgba(255,0,0,0);
}
.panorama-panel .map .bt-product.bt-faro {
  top: 50px;
  left: 90px;
  width: 300px;
  height: 200px;
}
.panorama-panel .map .bt-product.bt-luce {
  top: 50px;
  left: 400px;
  width: 290px;
  height: 189px;
}
.panorama-panel .map .bt-product.bt-sole {
  top: 240px;
  left: 590px;
  width: 189px;
  height: 290px;
}
.panorama-panel .map-tower {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-origin: 0% 50%;
}
.panorama-panel .map-tower .bt-tower {
  position: absolute;
  background: rgba(255,0,0,0);
}
.panorama-panel .map-tower.faro {
  left: 42vw;
  width: 703px;
  height: 488px;
}
.panorama-panel .map-tower.faro.tower-1e2 {
  background-image: url("../img/map_tower_faro_1e2.png");
}
.panorama-panel .map-tower.faro.tower-3e4 {
  background-image: url("../img/map_tower_faro_3e4.png");
}
.panorama-panel .map-tower.faro .bt-tower.bt-1e2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 180px;
}
.panorama-panel .map-tower.faro .bt-tower.bt-3e4 {
  top: 180px;
  left: 0px;
  width: 100%;
  height: 180px;
}
.panorama-panel .map-tower.luce {
  left: 44vw;
  width: 565px;
  height: 489px;
  display: none;
}
.panorama-panel .map-tower.luce.tower-1 {
  background-image: url("../img/map_tower_luce_1.png");
}
.panorama-panel .map-tower.luce.tower-2 {
  background-image: url("../img/map_tower_luce_2.png");
}
.panorama-panel .map-tower.luce.tower-3 {
  background-image: url("../img/map_tower_luce_3.png");
}
.panorama-panel .map-tower.luce .bt-tower.bt-1 {
  top: 0px;
  left: 360px;
  width: 210px;
  height: 370px;
}
.panorama-panel .map-tower.luce .bt-tower.bt-2 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 180px;
}
.panorama-panel .map-tower.luce .bt-tower.bt-3 {
  top: 180px;
  left: 0px;
  width: 360px;
  height: 190px;
}
.panorama-panel .map-tower.sole {
  left: 44vw;
  width: 565px;
  height: 489px;
  display: none;
}
.panorama-panel .map-tower.sole.tower-1 {
  background-image: url("../img/map_tower_sole_1.png");
}
.panorama-panel .map-tower.sole.tower-2 {
  background-image: url("../img/map_tower_sole_2.png");
}
.panorama-panel .map-tower.sole.tower-3 {
  background-image: url("../img/map_tower_sole_3.png");
}
.panorama-panel .map-tower.sole .bt-tower.bt-1 {
  top: 270px;
  left: 120px;
  width: 330px;
  height: 190px;
}
.panorama-panel .map-tower.sole .bt-tower.bt-2 {
  top: 0px;
  left: 280px;
  width: 200px;
  height: 277px;
}
.panorama-panel .map-tower.sole .bt-tower.bt-3 {
  top: 0px;
  left: 100px;
  width: 180px;
  height: 277px;
}
.panorama-panel .map-floors {
  position: absolute;
  right: 3vw;
  width: 1128px;
  height: 608px;
  background: url("../img/map_floors.png") center center no-repeat scroll;
  background-size: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-origin: 100% 50%;
}
.panorama-panel .map-floors .bt-floor {
  position: absolute;
  background: rgba(255,0,0,0);
  width: 280px;
  height: 50px;
  left: 610px;
}
.panorama-panel .map-floors .bt-floor.bt-14 {
  top: 70px;
}
.panorama-panel .map-floors .bt-floor.bt-12 {
  top: 120px;
}
.panorama-panel .map-floors .bt-floor.bt-10 {
  top: 170px;
}
.panorama-panel .map-floors .bt-floor.bt-8 {
  top: 220px;
}
.panorama-panel .map-floors .bt-floor.bt-6 {
  top: 270px;
}
.panorama-panel .map-floors .bt-floor.bt-4 {
  top: 320px;
}
.panorama-panel .map-floors .floor-selector {
  position: absolute;
  left: 620px;
  height: 25px;
  width: 205px;
  top: 325px;
  background-color: rgba(255,255,255,0.5);
}
.panorama-panel .map-floors .floor-selector.faro {
  background-color: rgba(165,179,165,0.6);
}
.panorama-panel .map-floors .floor-selector.luce,
.panorama-panel .map-floors .floor-selector.sole {
  background-color: rgba(241,225,192,0.6);
}
.panorama-panel .map-floors .floor-selector.floor-14 {
  top: 78px;
}
.panorama-panel .map-floors .floor-selector.floor-12 {
  top: 130px;
}
.panorama-panel .map-floors .floor-selector.floor-10 {
  top: 180px;
}
.panorama-panel .map-floors .floor-selector.floor-8 {
  top: 230px;
}
.panorama-panel .map-floors .floor-selector.floor-6 {
  top: 280px;
}
.panorama-panel .map-floors .floor-selector.floor-4 {
  top: 330px;
}
