@import "includes/*.styl";
@import "libs/*.styl";
    
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    rel();
    width: 100%;
}
body {
    line-height: 1;
    rel();
    width: 100%;
    background-color: white;
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button{
    border: 0;
    background-color: transparent;
    padding: 0;
}

* {
  -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
    box-sizing(border-box);
    -webkit-font-smoothing:antialiased;
}

/*::-moz-selection {
    background: text-select-background;
    color: text-select-color;
    text-shadow: none;
}

::selection {
    background: text-select-background;
    color: text-select-color;
    text-shadow: none;
}
*/

.no-select {
    no-select();
}

.center{
    text-align: center;
    display: block;
    margin: 0 auto;
}

main{
    rel();
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

*:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

@import "main.styl";
@import "views/*.styl";
